# Data Structures
- Int
- Float
- Bool
- Strings
- Complex
### Derived
- List
- Tuple
- Dictionary
- Set

### 1. String and string operation (format, strip, replace ,....)

In [1]:
name = 'Otis'
age = 16
year = 3

In [6]:
print("My name is " + name + ". I am " + str(age) +" years old. I am in "+ str(year) + " year.")

My name is Otis. I am 16 years old. I am in 3 year.

In [11]:
# another way
print("My name is %s. I am %d years old. I am in %d year."%(name , age, year))

My name is Otis. I am 16 years old. I am in 3 year.

In [12]:
#place holder method
print("My name is {}. I am {} years old. I am in {} year.".format(name, age, year))

My name is Otis. I am 16 years old. I am in 3 year.

In [13]:
#f-strings 
print(f"My name is {name}. I am {age} old. I am in {year} year.")

My name is Otis. I am 16 old. I am in 3 year.

#### Strip
- remove the space

In [14]:
st = "     Good Morning.   "

In [15]:
st.strip()

'Good Morning.'

In [17]:
response = input("Enter yes or no")

Enter yes or no    yes

In [18]:
response

'    yes'

In [19]:
response.strip()

'yes'

#### Split

In [20]:
st = "My name is Otis"

In [21]:
st

'My name is Otis'

In [22]:
st.split(" ")

['My', 'name', 'is', 'Otis']

#### replace

In [23]:
st.replace("Otis", 'Maieve')

'My name is Maieve'

#### count

In [24]:
st.count('a')

1

## 2. Lists

- ordered
- Mutable 
- accessed using index
- Heterogenous

In [25]:
a = [1,2,3,4]

In [26]:
a

[1, 2, 3, 4]

In [28]:
a[0]

1

In [29]:
a= ["Otis" , 1, 1.6, print]  #hetrogenous

In [30]:
a[2]

1.6

In [33]:
a[3]("hello world")

hello world

### Basic operation

In [35]:
a = [1, 3, 4, 5]

In [36]:
len(a)

4

In [38]:
a + a   # concatenation

[1, 3, 4, 5, 1, 3, 4, 5]

In [40]:
a * 5  #contenation

[1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

In [43]:
1 in a  #check if member or not

True

In [46]:
a[-1]   #reverse indexing

5

In [47]:
a = [1, 2, 3, 4, 5]

In [48]:
a[1:4]   #index for print

[2, 3, 4]

In [50]:
a[0:5:2]

[1, 3, 5]

In [54]:
a = 'Otis'

In [56]:
a[::-1]  #reversing the string

'sitO'

#### Updating the list
- insert
- append

In [59]:
a = [1, 3, 5, 6]

In [61]:
a.insert(1, 'Otis')  #index where it is value to be inserted

In [62]:
a

[1, 'Otis', 3, 5, 6]

In [63]:
a.append('Maeve')  #add object at the end of the list

In [64]:
a

[1, 'Otis', 3, 5, 6, 'Maeve']

#### Deleting list elements
- del
- pop
- remove

In [65]:
a = [1, 3, 5, 6]

In [66]:
a.pop()  #pop last element

6

In [67]:
a.pop(2) #pop the element at given element

5

In [68]:
a = ['Otis', 'Maeve', 'Steve']

In [69]:
a

['Otis', 'Maeve', 'Steve']

In [70]:
a.remove('Otis') #remove only first occurence

In [71]:
a

['Maeve', 'Steve']

In [72]:
del a[1]

In [73]:
a

['Maeve']

#### Sorting and reversing
- sort and sorted
- reverse and reversed

In [78]:
a = [2, 5, 1, 3, 7]

In [79]:
sorted(a)  #will return only sorted element but actual list remain same

[1, 2, 3, 5, 7]

In [80]:
a

[2, 5, 1, 3, 7]

In [81]:
a.sort()  #sort the list itself

In [82]:
a

[1, 2, 3, 5, 7]

In [84]:
for i in reversed(a):
    print(i)

7
5
3
2
1

In [85]:
a.reverse()

In [86]:
a

[7, 5, 3, 2, 1]

## 3.Tuples
- used in cases where a statement or a user-defined function can saferly assume that the collection of values will not change

In [1]:
a = [1, 2, 3, 4]

In [2]:
a[0] = 5

In [3]:
id(a)

1517610284480

In [4]:
a[0] = 1  #in case of list the address id will be same after changes the vlaue

In [5]:
id(a)

1517610284480

In [6]:
 a = (1, 2, 3, 4, 5)  #tuples

In [ ]:
a[0] = 1  #not possible as it is immutable

In [7]:
def func(*args):
    print(args)

In [9]:
func(1, 2, 3, 4)   #args is type of tuple so once argument passed can never be change

(1, 2, 3, 4)

In [ ]:
# 1. swapping the values only work for integers
a = a + b
b = a - b
a = a - b

In [ ]:
# 2. using XOR
a = a^b
b = a^b
a = a^b

In [10]:
a = 1 , 2   #another way to inintialize tuple 
c , d  = a # unpack the value of tuple in two tuple c and d

In [12]:
## number of variable on left side should be equal to number of elements in Right hand side tuple
a = 1 , 2 , 3
c , d = a #will through error

1

In [13]:
#3. swapping using tuple method applicable only in python 
a = 5
b = 9
 
b , a = a , b

In [15]:
print(a , b)

9 5

### Converting tuple to list and list to tuple

In [16]:
a = (1 , 2 , 3)

In [19]:
a = list(a)   #converting in list
b = list("Otis")
c = list(range(10))

In [20]:
print(a, b, c)

[1, 2, 3] ['O', 't', 'i', 's'] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a = tuple(a)  #converting to tuple
b = tuple(b)
c = tuple(c)

In [25]:
print(a, b, c)

(1, 2, 3) ('O', 't', 'i', 's') (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Returning multiple values from a function

In [26]:
def addsub(a, b):
    return a + b, a -b   #tuple is returned

In [27]:
sum , difference = addsub(9, 3)

In [28]:
print(sum , difference)

12 6

## 4. Dictionary
- Store values in key-vlaue pair
- unordered

In [35]:
a = {
    "name":"Otis",
    "marks": 90,
    "subjects": ["eng", "maths"],
    "friends":{
        "Maeve":"android"
    }
}

In [37]:
a["name"]

'Otis'

In [38]:
a["friends"]

{'Maeve': 'android'}

In [44]:
for key in a :   #by default we can iterate through keys
    print(key)

name
marks
subjects
friends

### some important dict method
- get()
- items()
- keys()
- values()
- clear()

In [45]:
for item in a.items():   #method return key-value pair in tuple form
    print(item)

('name', 'Otis')
('marks', 90)
('subjects', ['eng', 'maths'])
('friends', {'Maeve': 'android'})

In [46]:
for key, value in a.items(): 
    print(key, "=>", value)

name => Otis
marks => 90
subjects => ['eng', 'maths']
friends => {'Maeve': 'android'}

In [47]:
for key in a.keys(): #return all the keys in dict
    print(key)

name
marks
subjects
friends

In [48]:
for val in a.values(): # return all the values in dict
    print(val)

Otis
90
['eng', 'maths']
{'Maeve': 'android'}

In [49]:
a["name"]

'Otis'

In [50]:
a.get("name")

'Otis'

In [51]:
a.keys()

dict_keys(['name', 'marks', 'subjects', 'friends'])

In [52]:
a.get("name1")  #will not through any error if the key not present in the dict

In [53]:
a.clear()  #delete the dict

In [54]:
a

{}

## Chalange

In [65]:
students = []

In [66]:
n = int(input())

3

In [67]:
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no": roll,
        "name": name,
        "branch": branch
    })

1211
otis
cse
2342
Maeve
Civil
3211
Ola
Mechanical

In [68]:
students

[{'roll-no': 1211, 'name': 'otis', 'branch': 'cse'},
 {'roll-no': 2342, 'name': 'Maeve', 'branch': 'Civil'},
 {'roll-no': 3211, 'name': 'Ola', 'branch': 'Mechanical'}]

## keys in dictionary can be any immutable DS

In [69]:
#valid as tuple are immutable
a = {                               
    (1,2): "Otis"
}

In [70]:
a[(1,2)]

'Otis'

## 5. SETs
- unordered
- non-indexable

In [74]:
a = {1, 2, 3, 4}  #declared as like dict but not having key-value pair

In [72]:
a = set()  #use to create empty set

In [78]:
b = {3, 4, 5, 6}

In [79]:
a.intersection(b)

{3, 4}

In [80]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [81]:
a - b

{1, 2}

In [ ]:
a[1]  #will through error as set are not indexable

In [82]:
for i in a:
    print(i)

1
2
3
4

In [83]:
a = {1, 2, 3, 4, 5, 1, 2, 3}

In [84]:
a

{1, 2, 3, 4, 5}

In [85]:
len(a)

5

In [88]:
# how to deduplicate the list
a = [1, 2, 1, 2, 1, 1, 2, 2]

In [90]:
list(set(a))  #order will may or may not be preserved

[1, 2]

## Comprehension Method

### List comprehension

In [94]:
a = []
for i in range(10):
    a.append(i**2)
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
[b**2 for b in range(10)]  #comprehension method

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
# squares of all the even number
[i**2 for i in range(10) if i % 2 ==0]

[0, 4, 16, 36, 64]

### Dict comprehension

In [97]:
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
{i: i**2 for i in range(10) if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### Set comprehension

In [101]:
{i**2 for i in range(10) if i % 2 == 0 }

{0, 4, 16, 36, 64}

### Tuple Comprehension

In [102]:
# this is generator expresion not tuple comprehension
a = (i**2 for i in range(10))
a