# Pandas - Working with tabular Data

In [3]:
import pandas as pd
import numpy as np

In [10]:
pokemons = {
    "Height" : np.random.randint(1, 100, 5),
    "weight" : np.random.randint(50, 150, 5),
    "Power" : np.random.randint(200, 250, 5)
}
pokemons

{'Height': array([46, 65,  2, 73, 27]),
 'weight': array([142,  61, 139, 139,  82]),
 'Power': array([220, 201, 224, 238, 216])}

In [11]:
df = pd.DataFrame(pokemons)

In [12]:
df

   Height  weight  Power
0      46     142    220
1      65      61    201
2       2     139    224
3      73     139    238
4      27      82    216

In [13]:
df.head(n = 3)

   Height  weight  Power
0      46     142    220
1      65      61    201
2       2     139    224

In [14]:
df.columns

Index(['Height', 'weight', 'Power'], dtype='object')

In [15]:
## Create a CSV file

df.to_csv('Pokemon_data.csv')

In [16]:
### Reading a Data Frame

df1 = pd.read_csv('pokemon_data.csv')

In [17]:
df1.head()

   Unnamed: 0  Height  weight  Power
0           0      46     142    220
1           1      65      61    201
2           2       2     139    224
3           3      73     139    238
4           4      27      82    216

In [23]:
df = df1.drop(columns = ['Unnamed: 0'])

In [24]:
df.shape

(5, 3)